<div class="mb-2">
  <h2 class="mb-1">App Manager</h2>
  <div class="tabs">
    <div class="tabs-header">
      <button [className]="this.tabActive == 'list' ? 'active tab-header':'tab-header'" (click)="clickTab('list')">
        <i class="icon mr-1"></i>
        <span>Installable Apps</span>
      </button>
      <button [className]="this.tabActive == 'installed' ? 'active tab-header':'tab-header'" (click)="clickTab('installed')">
        <i class="icon mr-1"></i>
        <span>Installed</span>
      </button>
    </div>
    <div class="tabs-content">
      <app-market-installable *ngIf="tabActive == 'list'"></app-market-installable>
      <app-market-installed *ngIf="tabActive == 'installed'"></app-market-installed>
    </div>
  </div>
</div>
